@model IEnumerable<Gaming.Models.Guild>

@{
    ViewBag.Title = "Index";
}

<h2>Guilds</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GuildLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            PlaceName
            <!--@Html.DisplayNameFor(model => model.Place.Name)-->
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GuildLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Place.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Guild_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Guild_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Guild_ID })
        </td>
    </tr>
}

</table>
